## -----
##  Local configuration
##
## This is an example file for the local.config file used by the Makefile.
## Rename this file to local.config to enable local configuration.
## This file does not belong into any VCS repository!
##
## Note: Use "VARIABLE = value" to override a variable completly and
##       "VARIABLE += value" to add something to it.

# Build mode, DEBUG or RELEASE
#MODE = RELEASE

# Add an extra header search path
#CPPFLAGS += -I~/src/boost/

# Add an extra library search path
#LDFLAGS += -L~/src/boost/stage/libs

